@use "../../variables.scss" as *;

.bottom{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 450px;
    height: fit-content;
    padding: 15px;
    position: relative;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    left: 37%;
    margin-top: 20px;
    
}

.title {
    font-family: $font-primary;
    font-size: 20px;
}

.content {
    font-family: $font-primary;
    font-size: 20px;

}